/* todo */
.todo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todo-container .check-btn {
  display: none;
}

.todo-container .check-btn + label {
  cursor: pointer;
}

.todo-container .check-btn + label > span {
  vertical-align: middle;
  padding-left: 0.5rem;
}

/* label:before에 체크하기 전 상태 CSS */
.todo-container .check-btn + label:before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border: 1.5px solid var(--main-3);
  border-radius: 50%;
  vertical-align: middle;
}

/* label:before에 체크 된 상태 CSS */
.todo-container .check-btn:checked + label:before {
  content: "";
  background-color: var(--main-3);
  border-color: var(--main-3);
  background-image: url("../assets/img/check.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.todo-container .del-btn {
  width: 1rem;
  filter: var(--main-3-filter);
}
