.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
.app .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}
.app .header span {
  font-weight: bold;
}
.app .header-setting-img {
  width: 1.5rem;
}

.app main {
  width: 95%;
}
/* form */
.app .todo-form {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 2.5rem;
  margin: 0 auto;
}
.app .todo-input,
.app .todo-submit-btn {
  height: 100%;
}
.app .todo-input {
  width: calc(99% - 4rem);
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0;
  background-color: var(--gray-2);
}
.app .todo-submit-btn {
  width: 4rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-2);
}

/* section */
.app section h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1.5rem;
  font-weight: bold;
}
.app section h3:before,
.app section h3:after {
  content: "";
  background: var(--gray-3);
  height: 1px;
}
.app section h3:before {
  flex-grow: 0.01;
}
.app section h3:after {
  flex-grow: 0.97;
}

.app #done-section .todo-container .content {
  text-decoration: line-through;
}

/* todo section */
.app .todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 0 0.7rem;
}
