.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
.app .header {
  width: 100%;
}
.app .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.app .header-top span {
  font-weight: bold;
}
.app .header-setting-img {
  width: 1.5rem;
  transition: 1s;
  filter: var(--main-3-filter);
}
.app .header-setting-img:hover {
  transform: rotate(180deg);
}

/* main */
.app main {
  width: 95%;
}

/* form */
.app .todo-form {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}
.app .todo-form .input,
.app .todo-submit-btn {
  height: 2.5rem;
}

.app .todo-form .input {
  width: calc(49.5% - 2rem);
}
.app .todo-submit-btn {
  width: 4rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--main-2);
  transition: 0.5s;
}
.app .todo-submit-btn:hover {
  background-color: var(--main-3);
}

/* section */
.app section h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.app section h3:before,
.app section h3:after {
  content: "";
  background: var(--gray-3);
  height: 1px;
}
.app section h3:before {
  flex-grow: 0.01;
}
.app section h3:after {
  flex-grow: 0.97;
}

.app #done-section .todo-container .content {
  text-decoration: line-through;
}

/* todo section */
.app .todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 0 0.7rem;
}

/* modal */
.app .setting-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.app .setting-content > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.app .setting-content > div h4 {
  font-size: 1.1rem;
}
.app .setting-content .theme-sound button:hover {
  color: var(--main-4);
}
.app .setting-content .theme-colors button {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--main-2);
}
.app .setting-content .theme-colors button:hover {
  background-color: var(--main-4);
}
.app .setting-content .setting-options {
  display: flex;
  gap: 1rem;
}
