/* theme */
:root {
  --gray-1: #f8f9fa;
  --gray-2: #e9ecef;
  --gray-3: #ced4da;
  --gray-4: #868e96;
}
.dark {
  --gray-4: #e9ecef;
  --gray-3: #ced4da;
  --gray-2: #868e96;
}
.blue {
  --main-1: #e7f5ff;
  --main-2: #a5d8ff;
  --main-3: #4dabf7;
  --main-4: #228be6;
  --main-5: #1971c2;
  --main-3-filter: invert(56%) sepia(76%) saturate(943%) hue-rotate(181deg)
    brightness(100%) contrast(94%);
}
.yellow {
  --main-1: #fff9db;
  --main-2: #ffec99;
  --main-3: #ffd43b;
  --main-4: #fab005;
  --main-5: #fab005;
  --main-3-filter: invert(87%) sepia(72%) saturate(2720%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
}
.pink {
  --main-1: #fff5f5;
  --main-2: #ffc9c9;
  --main-3: #ff8787;
  --main-4: #fa5252;
  --main-5: #e03131;
  --main-3-filter: invert(82%) sepia(32%) saturate(4480%) hue-rotate(309deg)
    brightness(111%) contrast(100%);
}
.green {
  --main-1: #ebfbee;
  --main-2: #b2f2bb;
  --main-3: #69db7c;
  --main-4: #40c057;
  --main-5: #2f9e44;
  --main-3-filter: invert(100%) sepia(21%) saturate(5735%) hue-rotate(56deg)
    brightness(91%) contrast(88%);
}

* {
  cursor: url("./assets/img/fish.png") 12 12, auto !important;
}

::-moz-selection {
  background: var(--main-5);
  color: var(--gray-1);
}
::selection {
  background: var(--main-5);
  color: var(--gray-1);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 1200px;
  height: 800px;
  padding: 0 2rem;
}

input {
  outline: 0;
  font-size: 100%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "omyu_pretty" !important;
}

/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
